@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

/* other css file imports */
@import url("sections/header.css");
@import url("sections/hero.css");
@import url("sections/about.css");
@import url("sections/popular.css");
@import url("sections/trending.css");
@import url("sections/subscribe.css");
@import url("sections/footer.css");

/* CSS variables for reusablity across all files (including above imported) */
:root {
  --playfair-display: "Playfair Display", serif;
  --plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;

  --primary-color: #b1454a;@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");
  
  /* other css file imports */
  @import url("sections/header.css");
  @import url("sections/hero.css");
  @import url("sections/about.css");
  @import url("sections/popular.css");
  @import url("sections/trending.css");
  @import url("sections/subscribe.css");
  @import url("sections/footer.css");
  
  /* CSS variables for reusablity across all files (including above imported) */
  :root {
    --playfair-display: "Playfair Display", serif;
    --plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
  
    --primary-color: #b1454a;
    --secondary-color: #121212;
  
    --black-200: #020202;
    --black-300: #333333;
    --black-400: #1f1e31;
    --black-500: #555555;
    --gray-100: #888888;
  
    --color-white: #fff;
    --color-creamson: #fff0de;
  }
  --secondary-color: #121212;

  --black-200: #020202;
  --black-300: #333333;
  --black-400: #1f1e31;
  --black-500: #555555;
  --gray-100: #888888;

  --color-white: #fff;
  --color-creamson: #fff0de;
  
}

body{
    max-width: 1280px;
    margin: 0 auto;
    background-color: var(--color-creamson);
  }

  a{
    text-decoration: none;
    color: inherit;
  }

  .flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sushi__subtitle{
    font-size: 18px;
    font-weight: 400;
    font-family: var(--plus-jakarta-sans);
    color: var(--primary-color);
    opacity: 0.8;
  }

  .sushi__title{
    font-size: 64px;
    font-weight: 600;
    font-family: var(--plus-jakarta-sans);
    color: var(--primary-color);
    margin-top: 16px;
    
  }

  .sushi__description{
    font-size: 18px;
    font-weight: 400;
    font-family: var(--plus-jakarta-sans);
    line-height: 36px;
    color: var(--secondary-color);
    opacity: 0.8;
    margin: 32px 0px;
  }

  .flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media screen and (max-width: 1024px) {
    .about-us {
      flex-direction: column;
    }
  
    .about-us__image {
      flex-direction: row;
    }
  
    .about-us__image-sushi3 {
      border-bottom: none;
      border-right: 8px solid var(--color-creamson);
    }
  
    .about-us__button {
      display: none;
    }
  }

  @media screen and (max-width: 550px) {
    .about-us__image-sushi2 img,
    .about-us__image-sushi3 img {
      width: 75%;
      height: 160px;
  
      object-fit: contain;
    }
  
    .about-us__image div {
      padding: 32px;
    }
  
    .about-us__button {
      top: 44%;
    }
  
    .about-us__content {
      padding: 32px;
    }
  }

  /* START: header media querie */
@media screen and (max-width: 900px) {
  .header__nav {
    background: var(--primary-color);
  }

  .header__menu {
    display: none;
  }

  .header__menu-mobile {
    display: flex;
  }
}


@media (min-width: 901px) and (max-width: 1066px) {
  .header__menu{
    display: flex;
    padding: 20px;
    list-style: none;
    justify-content: flex-end;
    flex: 1.236;
    gap: 40px;
    align-items: center;
}
}
/* END: header media queries */

/* START: hero media queries */
@media screen and (max-width: 1060px) {
  .hero {
    flex-direction: column;
  }

  .hero-image img {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .hero-image h2 {
    font-size: 40px;
    line-height: 60px;
  }

  .hero-content-info {
    padding: 32px;
  }

  .hero-content-info h1 {
    font-size: 60px;
  }

  .hero-content-info p {
    margin: 32px 0;
  }

  .hero-content__buttons {
    margin: 41px 0;
  }

  .hero-content__testimonial {
    padding: 32px;
  }
}

/*media queries for trending section*/

@media screen and (max-width : 1215px) {
  .trending__list{
    gap: 10px;
  }

  .trending__list li{
    gap: 5px;
  }

  .trending__discover{
    display: none;
  }
  .trending-sushi .trending__content{
    flex: 2;
  }

  .trending-drinks .trending__content{
    flex: 2;
  }


}